body,html{
    margin: 0;
}
.back{
    height: 98vh;
    flex-direction: column;
}
.top2{
    flex-direction: column;
    border: solid #6d92de 5px;
    border-radius: 40px;
}
.headers{
    flex-direction: row;
    column-gap: 5px;
}
.header{
    flex-direction: row;
    column-gap: 5px;
}
.element {
    flex-direction: column;
    row-gap: 5px;
}
.elements{
    column-gap: 5px;
    flex-direction: row;
}
.spaceeven{
    justify-content: space-evenly;
}
.square{
    border-radius: 20px;
}
.footers{
    flex-direction: row;
    column-gap: 5px;
}
.footer1{
    flex-grow: 2;
    height: 10px;
    border-radius: 40px;
}
.footer2{
    height: 10px;
    border-radius: 40px;
}
.under2{
    flex-direction: column;
    border: solid #131342 5px;
}
.flex_center {
    align-items: center;
    justify-content: center;
}
.footers_width{
    width: 60%;
}
.width20{
    width: 20%;
}
.border_rad50px{
    border-radius: 50%;
}
.bgwhite{
    background: white;
}
.bgdarkblue{
    background: #131342;
}
.border--under{
    border: solid #6d92de 5px;
}

.size250{
    width: 180px;
    height: 180px;
}
.margintop{
    margin: 30px;
}
.height50{
    height: 50%;
}
.marginbottom{
    margin-bottom: 30px;
}
.margin{
    margin: 5px 80px 5px 80px;
}
.d_flex{
    display: flex;
}
.f_grow1{
    flex-grow: 1;
}
.f_grow4{
    flex-grow: 4;
}
.f_grow3{
    flex-grow: 3;
}