body,html{
    margin: 0;
}
.osnova1{
    height: 98vh;
    background: black;
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    margin: 5px;
}
.widgets{
    height: 200px;
    background: blue;
}
.size{
    width: 780px;
    height: 200px;
    background: black;
    display: flex;
    flex-direction: row;
    column-gap: 20px;
    justify-content: space-around;
}
.contact{
    height: 500px;
    background: blue;
}
.bigwidges{
    width: 220px;
    height: 200px;
    background: blue;
}
.biggerwidges{
    width: 220px;
    height: 200px;
    background: blue;
}
.hugewidges{
    width: 220px;
    height: 200px;
    background: blue;
}