body,html{
    margin: 0;
}
.Osnova{
    height: 98vh;
    background: black;
    flex-direction: column;
    margin: 5px;
}
.Content{
    flex-direction: row;
}
.bgsilver{
    background: silver;
}
.bgcfb{
    background: cornflowerblue;
}
.bgcb{
    background: cadetblue;
}
.bggrey{
    background: gray;
}
.flexg1{
    flex-grow: 1;
}
.flexg4{
    flex-grow: 4;
}
.height125{
    height: 125px;
}
.height100{
    height: 100px;
}
.d_flex{
    display: flex;
}