body,html{
    margin: 0;
}
.osnova1{
    height: 98vh;
    background: black;
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    margin: 5px;
}
.widgets{
    flex-grow: 1;
    background: blue;
}
.size{
    flex-grow: 1;
    background: black;
    display: flex;
    flex-direction: row;
    column-gap: 10px;
    justify-content: space-around;
}
.contact{
    flex-grow: 2;
    background: blue;
}
.huge{
    flex-grow: 1;
    background: blue;
}