body,html{
    margin: 0;
}
.Osnova {
    background: black;
    height: 98vh;
    display: flex;
    flex-direction: column;
    margin: 5px;
    row-gap: 10px;
}
.A{
    flex-grow: 1;
    background: blue;
}
.Content{
    flex-grow: 2;
    display: flex;
    flex-direction: row;
    column-gap: 10px;
}
.B{flex-grow: 4;
    background: blue;

}
.C{flex-grow:1;
    background: blue;

}