.xxx{
    width: 1200px;
    height: 620px;
    background: yellowgreen;
    display: flex;
    flex-wrap:wrap;
}
.a{
    margin: 8px;
    width: 1200px;
    height: 200px;
    background: red;


}

.b{
    width: 760px;
    height: 380px;
    background: aqua;
    margin: 8px;
}
.c{
    width: 392px;
    height: 380px;
    background: black;
    margin: 8px;

}